# post-type.yaml
services:
  _defaults:
    autowire: true
    autoconfigure: false
    public: false

  post_type.builder.prototype:
    class: 'Vigihdev\WpPostType\Builder\PostTypeBuilder'

  taxonomy.dto.prototype:
    abstract: true
    shared: false
    class: 'Vigihdev\WpPostType\DTOs\TaxonomyDto'

  rewrite.tag.prototype:
    abstract: true
    shared: false
    class: 'Vigihdev\WpPostType\DTOs\RewriteTagDto'
    arguments:
      $tag: ~
      $regex: "([^/]+)"

  rewrite.single.prototype:
    abstract: true
    shared: false
    class: 'Vigihdev\WpPostType\DTOs\Rewrite\SingleRewriteRuleDto'
    factory: ['Vigihdev\WpPostType\DTOs\Rewrite\SingleRewriteRuleDto', "create"]
    arguments:
      $postType: ~

  rewrite.category.prototype:
    abstract: true
    shared: false
    class: 'Vigihdev\WpPostType\DTOs\Rewrite\CategoryRewriteRuleDto'
    factory:
      ['Vigihdev\WpPostType\DTOs\Rewrite\CategoryRewriteRuleDto', "create"]
    arguments:
      $postType: ~

  desa.post_type.builder:
    public: true
    parent: post_type.builder.prototype
    tags: ["post_type"]
    arguments:
      $postType: "desa"
    calls:
      - [withSupports, [["title", "editor", "thumbnail"]]]
      - [withDescription, ["Daftar kota"]]
      - [withAutoLabels, ["Kota", "Kota"]]

  desa.rewrite.tag:
    public: true
    parent: rewrite.tag.prototype
    arguments:
      $tag: "desa"

  desa.rewrite.tag.category:
    public: true
    parent: rewrite.tag.prototype
    arguments:
      $tag: "desa_category"

  desa.rewrite.single:
    public: true
    parent: rewrite.single.prototype
    arguments:
      $postType: "@desa.post_type.builder"

  desa.rewrite.category:
    public: true
    parent: rewrite.category.prototype
    arguments:
      $postType: "@desa.post_type.builder"

  #######
  kota.post_type.builder:
    parent: post_type.builder.prototype
    tags: ["post_type"]
    arguments:
      $postType: "kota"
    calls:
      - [withSupports, [["title", "editor", "thumbnail"]]]
      - [withDescription, ["Daftar kota"]]
      - [withAutoLabels, ["Kota", "Kota"]]

  kota.taxonomy.dto:
    public: true
    parent: taxonomy.dto.prototype
    tags: ["taxonomy"]
    arguments:
      $taxonomyName: "kota_category"
      $postType: "kota"
      $label: "Kategori Kota"
      $rewrite:
        slug: "kota-category"

  Vigihdev\WpPostType\Contracts\PostTypeManagerServiceInterface:
    class: 'Vigihdev\WpPostType\Service\PostTypeManagerService'
    public: true
    arguments:
      $postTypes: !tagged_iterator post_type
