# .github/workflows/test.yml
name: PHP Tests

on:
  push:
    branches: [main, develop]
  pull_request:
    branches: [main]

jobs:
  test:
    name: PHPUnit Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.1"
          coverage: xdebug
          tools: composer

      - name: Validate composer.json
        run: composer validate --strict

      - name: Cache Composer packages
        uses: actions/cache@v3
        with:
          path: vendor
          key: ${{ runner.os }}-php-${{ hashFiles('composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-php-

      - name: Add private repository
        run: composer config repositories.thrubus composer https://repo.thrubus.id

      - name: Install dependencies
        run: composer install --no-interaction --prefer-dist

      - name: Run test suite
        run: composer test

      - name: Run test coverage
        run: composer test:coverage
